/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
project.clj

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
/package-lock.json

.make_
